.logo {
    color: $c-kournikova;
    cursor: pointer;
    transition: background-color $a-animate-time;
    
    &__image {
        max-width: 30px;
        max-height: 30px;
        display: inline-block;
        vertical-align: middle;
    }
}