.nav {
    float: left;
    user-select: none;
    padding-left: $content-margin;
    border-left: 1px solid $c-denim-divider;
    transition: border-color $a-animate-time;

    &__item {
        line-height: $header-height;
        display: inline-block;
        vertical-align: top;

        &:not(:last-child) {
            margin-right: 25px;
        }

        &__link {
            color: $c-heather;
            font-size: 1.4rem;
            line-height: 26px;
            display: inline-block;
            vertical-align: middle;
            text-decoration: none;
            transition: color $a-time ease;

            &:hover {
                color: $c-white;
            }

            &.is-current {
                color: $c-white;
                cursor: default;
            }
        }
    }
}

.is-open .nav {
    border-color: rgba(0,0,0,0);
}

@media only screen and (max-width: 1280px) {}
@media only screen and (max-width: 1140px) {}
@media only screen and (max-width: 1024px) {}
@media only screen and (max-width: 960px) {}
@media only screen and (max-width: 768px) {}
@media only screen and (max-width: 568px) {}
@media only screen and (max-width: 480px) {}
@media only screen and (max-width: 375px) {}
@media only screen and (max-width: 320px) {}