.preload {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    display: none;
    user-select: none;
    text-align: center;
    height: $header-height;
    line-height: $header-height;
    transform: translateY(-100%);
    background-color: rgba(240, 240, 180, 1);
    box-shadow: 0 3px 6px 0 rgba(0,0,0,.05);
    transition: transform $a-time linear, opacity $a-time ease;

    &.is-show {
        display: block;
        z-index: 10000;
    }

    &.is-active {
        opacity: 1;
        transform: translateY(0);
    }

    &__center {
        display: inline-block;
        vertical-align: middle;
    }

    &__spinner {
        width: 30px;
        height: 30px;
        float: left;
        margin-right: -30px;
        border: 2px solid rgba(0, 0, 0, 0);
        border-top-color: $c-royal-blue;
        border-left-color: $c-royal-blue;
        border-radius: 100%;
        animation: spinner .9s linear infinite;
    }

    &__label {
        width: 100%;
        float: left;
        color: $c-black;
        font-size: 1.6rem;
        line-height: 30px;
        padding-left: 45px;
    }
}