.table-switcher {
    display: block;
    cursor: pointer;
    min-height: 40px;
    line-height: 40px;

    &__dot {
        position: relative;
        display: inline-block;

        &, &:before, &:after {
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background-color: $c-alice-blue;
        }

        &:before, &:after {
            content: "";
            position: absolute;
            left: 0;
        }

        &:before {
            bottom: 3px;
            transform: translate3d(0,-100%,0);
        }

        &:after {
            top: 3px;
            transform: translate3d(0,100%,0);
        }
    }
}