.treeview {
    list-style-type: none;

    &__branch {
        clear: both;
        padding: 10px 0;
        font-size: 1.2rem;
        padding-left: 20px;
        position: relative;
        border-bottom: 1px solid $c-pattens-blue-light;
        
        &__link {
            display: block;
            color: $c-crusta;
            text-decoration: none;
        }

        &__name {
            color: $c-salem;
            display: block;
        }

        &__url {
            color: $c-gray;
            display: block;
        }

        &__sub-page {
            color: $c-white;
            display: block;
            position: absolute;
            left: 0;
            top: 100%;
            display: none;
            padding: 5px 20px;
            text-decoration: none;
            background-color: $c-maya-blue;
        }
    }
}