{% include 'components/meta.twig' %}
{% include 'svgstore.html' %}

{% include 'components/popup.twig' %}
{% include 'components/preloader.html' %}

{% include 'components/sidebar.twig' %}

<main class="wrapper" id="wrapper">
    
    {% include 'components/header.twig' %}
    
    <div class="wrapper__row clearfix">
        
        {% if app.controller == 'site' and app.action == 'pages' %}
            {% include 'components/helper.twig' ignore missing with {'ADMIN_DIR': ADMIN_DIR} only %}
        {% endif %}

        <div class="wrapper__pusher">
            {% include 'components/content.twig' %}
        </div>
    </div>

</main>

{% include 'components/scripts.twig' %}