{% include 'components/meta.twig' %}
{% include 'svgstore.html' %}

{% include 'components/popup.twig' %}
{% include 'components/preloader.html' %}

{% include 'components/sidebar.twig' %}

<main class="wrapper" id="wrapper">
    
    {% include 'components/header.twig' %}
    
    <div class="wrapper__row clearfix">
        {% include 'components/helper.twig' %}

        <div class="wrapper__pusher">
            {% include 'components/content.twig' %}
        </div>
    </div>

</main>

{% include 'components/scripts.twig' %}