{% include 'components/meta.twig' %}
{% include 'svgstore.html' %}

{#
{% include 'components/preloader.html' %}
{% include 'components/popup.twig' %}
#}

{% include 'components/sidebar.twig' %}

<main class="wrapper">
    
    {% include 'components/header.twig' %}

    <div class="wrapper__content">
        
        <div style="font-size: 10px;">xxxxx</div>
        
    </div>

{#
    <div class="layout-content">
        <div class="layout-content__wrapper">
            
            {% include 'components/content.twig' %}

        </div>

    </div>
#}

</main>

{% include 'components/scripts.twig' %}