{% include 'components/meta.twig' %}
{% include 'svgstore.html' %}

<div class="preload show1 active">
    <span class="preload__spinner"></span>
    <span class="preload__label">
        Загрузка...
    </span>
</div>

{% include 'components/popup.twig' %}
{% include 'components/sidebar.twig' %}

<div class="layout-wrapper">

    <div class="layout-content">
        
        {% include 'components/header.twig' %}
        
        <div class="layout-content__wrapper">
            
            {% include 'components/content.twig' %}

        </div>

    </div>

</div>

{% include 'components/scripts.twig' %}