{% include 'components/meta.twig' %}
{% include 'svgstore.html' %}

{#
{% include 'components/preloader.html' %}
{% include 'components/popup.twig' %}
#}

{% include 'components/sidebar.twig' %}

<main class="wrapper" id="wrapper">
    
    {% include 'components/header.twig' %}

    <div class="wrapper__content" id="content">
        
        <div style="font-size: 10px;">xxxxx</div>
        
        <ul id="buttons"></ul>
        
        {# {% include 'components/content.twig' %} #}

    </div>

</main>

{% include 'components/scripts.twig' %}