{% spaceless %}
<!DOCTYPE html>
<!-- (c) lnk. Celebro Studio | http://celebro.ru -->
<html lang="ru" class="no-js" itemscope="itemscope" itemtype="http://schema.org/WebPage">
<head>
    <meta charset="UTF-8">

    <title itemprop="name">{{ app.title }}</title>

    <link rel="stylesheet" href="/css/main.min.css">

    <meta content="IE=Edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">

    {% for name, content in app.meta if app.meta is iterable %}
        <meta content="{{ name }}" name="{{ content }}">
    {% endfor %}

    {#
    <meta content="skype_toolbar_parser_compatible" name="skype_toolbar">
    <meta content="true" name="HandheldFriendly">
    <meta content="320" name="MobileOptimized">
    <meta content="date=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <meta content="address=no" name="format-detection">
    <meta content="telephone=no" name="format-detection">
    #}

    <!--[if IEMobile]>
        <meta http-equiv="cleartype" content="on">
        <meta http-equiv="imagetoolbar" content="false">
    <![endif]-->

    {{ app.head|raw }}
    
    <!-- <meta name="csrf-param" content="_csrf"> -->
    <!-- <meta name="csrf-token" content="STdpYlNOTS0vAFwtIycVVxhGD1YEEQgeBQUZExElKGcMAVADfgJ/ew=="> -->

    <script>(function(d){d.className=d.className.replace(/\bno-js/,'');})(document.documentElement);</script>
</head>
<body>
{% endspaceless %}