@font-face {
    font-family: 'IstokWeb';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/istokweb/bold.eot');
    src: url('../fonts/istokweb/bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/istokweb/bold.woff2') format('woff2'),
         url('../fonts/istokweb/bold.woff') format('woff'),
         url('../fonts/istokweb/bold.svg#istok_webbold') format('svg');
}

@font-face {
    font-family: 'IstokWeb';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/istokweb/regular.eot');
    src: url('../fonts/istokweb/regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/istokweb/regular.woff2') format('woff2'),
         url('../fonts/istokweb/regular.woff') format('woff'),
         url('../fonts/istokweb/regular.svg#istok_webregular') format('svg');
}