@font-face{
  font-family: sans-serif;
  font-style: italic;
  font-weight: 300;
  src: local("Helvetica Neue Light Italic"),local(HelveticaNeue-LightItalic),local("Helvetica Light Oblique"),local(Helvetica-LightOblique); }
@font-face{
  font-family: sans-serif;
  font-style: italic;
  font-weight: 400;
  src: local("Helvetica Neue Italic"),local(HelveticaNeue-Italic),local("Helvetica Oblique"),local(Helvetica-Oblique); }
@font-face{
  font-family: sans-serif;
  font-style: italic;
  font-weight: 700;
  src: local("Helvetica Neue Bold Italic"),local(HelveticaNeue-BoldItalic),local("Helvetica Bold Oblique"),local(Helvetica-BoldOblique); }
@font-face{
  font-family: sans-serif;
  font-style: normal;
  font-weight: 300;
  src: local("Helvetica Neue Light"),local(HelveticaNeue-Light),local("Helvetica Light"),local(Helvetica-Light); }
@font-face{
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  src: local(HelveticaNeue),local(Helvetica); }
@font-face{
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  src: local("Helvetica Neue Bold"),local(HelveticaNeue-Bold),local("Helvetica Bold"),local(Helvetica-Bold); }
@charset "UTF-8";
/*
100 - Thin

200 - Extra Light (Ultra Light)

300 - Light

400 - Normal

500 - Medium

600 - Semi Bold (Demi Bold)

700 - Bold

800 - Extra Bold (Ultra Bold)

900 - Black (Heavy)

{
    "extrathin": 50,
    "hairline": 50,
    "ultrathin": 50,
    "thin": 100,
    "extralight": 200,
    "ultralight": 200,
    "light": 300,
    "book": 400,
    "normal": 400,
    "plain": 400,
    "regular": 400,
    "medium": 500,
    "demibold": 600,
    "semibold": 600,
    "bold": 700,
    "extrabold": 800,
    "heavy": 800,
    "ultrabold": 800,
    "black": 900,
    "extrablack": 950,
    "fat": 950,
    "poster": 950,
    "ultrablack": 950
}
*/
@font-face {
  font-family: 'IstokWeb';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/istokweb/bold.eot");
  src: url("../fonts/istokweb/bold.eot?#iefix") format("embedded-opentype"), url("../fonts/istokweb/bold.woff2") format("woff2"), url("../fonts/istokweb/bold.woff") format("woff"), url("../fonts/istokweb/bold.svg#istok_webbold") format("svg"); }

@font-face {
  font-family: 'IstokWeb';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/istokweb/regular.eot");
  src: url("../fonts/istokweb/regular.eot?#iefix") format("embedded-opentype"), url("../fonts/istokweb/regular.woff2") format("woff2"), url("../fonts/istokweb/regular.woff") format("woff"), url("../fonts/istokweb/regular.svg#istok_webregular") format("svg"); }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-overflow-scrolling: touch; }
  *, *:before, *:after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }

html, body {
  height: 100%; }

html {
  font-size: 10px;
  font-family: IstokWeb, "Istok Web", Roboto, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  quotes: "“" "”"; }

body {
  color: #121212;
  overflow: hidden;
  min-width: 320px;
  font-size: 0;
  line-height: 1.4446;
  background-color: #2c405a; }

body, input, textarea, select, button {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -moz-font-feature-settings: 'liga', 'kern';
  direction: ltr;
  text-align: left; }

.btn {
  padding-top: 0;
  padding-bottom: 0;
  outline: 0 none;
  cursor: pointer;
  border: 0 none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-decoration: none;
  display: inline-block;
  -webkit-appearance: none;
  -webkit-transition: border-color 0.3s, background-color 0.3s, color 0.3s, -webkit-box-shadow 0.3s;
  transition: border-color 0.3s, background-color 0.3s, color 0.3s, -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s, border-color 0.3s, background-color 0.3s, color 0.3s;
  transition: box-shadow 0.3s, border-color 0.3s, background-color 0.3s, color 0.3s, -webkit-box-shadow 0.3s; }

.breadcrumbs__wrapper {
  width: 100%;
  height: 100%;
  max-width: 1260px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
  position: relative; }

svg {
  fill: currentColor;
  shape-rendering: geometricPrecision; }

.image {
  font: 0/0 a;
  border: 0; }

img[src$=".gif"], img[src$=".png"] {
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor; }

::-moz-selection {
  color: #0c63b9;
  background-color: #ecf5fd;
  text-shadow: none; }

::selection {
  color: #0c63b9;
  background-color: #ecf5fd;
  text-shadow: none; }

template {
  display: none !important; }

.is-hidden {
  display: none; }

.is-show {
  display: block; }

.center {
  text-align: center; }

.clearfix {
  zoom: 1; }
  .clearfix:after {
    clear: both;
    content: '';
    line-height: 0;
    display: table; }

@-webkit-keyframes blinker {
  0% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0; }
  50% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity: 1; }
  100% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0; } }

@keyframes blinker {
  0% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0; }
  50% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity: 1; }
  100% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0; } }

@-webkit-keyframes bounce {
  0%, 50%, 100% {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  37.5% {
    -webkit-transform: translateX(0.5rem);
            transform: translateX(0.5rem); }
  75% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem); } }

@keyframes bounce {
  0%, 50%, 100% {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  37.5% {
    -webkit-transform: translateX(0.5rem);
            transform: translateX(0.5rem); }
  75% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem); } }

@-webkit-keyframes recolor {
  0% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0; }
  50% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity: 1; }
  100% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0; } }

@keyframes recolor {
  0% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0; }
  50% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity: 1; }
  100% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0; } }

@-webkit-keyframes fadeIn {
  0% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0; }
  100% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0; }
  100% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity: 1; } }

@-webkit-keyframes fadeOut {
  0% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity: 1; }
  100% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0; } }

@keyframes fadeOut {
  0% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity: 1; }
  100% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0; } }

@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@-webkit-keyframes pulse1 {
  0% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity: 1;
    -webkit-transform: scale3d(0.5, 0.5, 1);
            transform: scale3d(0.5, 0.5, 1); }
  100% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0;
    -webkit-transform: scale3d(1.1, 1.1, 1);
            transform: scale3d(1.1, 1.1, 1); } }

@keyframes pulse1 {
  0% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity: 1;
    -webkit-transform: scale3d(0.5, 0.5, 1);
            transform: scale3d(0.5, 0.5, 1); }
  100% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0;
    -webkit-transform: scale3d(1.1, 1.1, 1);
            transform: scale3d(1.1, 1.1, 1); } }

@-webkit-keyframes pulse2 {
  0% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity: 1;
    -webkit-transform: scale3d(0.5, 0.5, 1);
            transform: scale3d(0.5, 0.5, 1); }
  50%, 100% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0;
    -webkit-transform: scale3d(1.2, 1.2, 1);
            transform: scale3d(1.2, 1.2, 1); } }

@keyframes pulse2 {
  0% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity: 1;
    -webkit-transform: scale3d(0.5, 0.5, 1);
            transform: scale3d(0.5, 0.5, 1); }
  50%, 100% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0;
    -webkit-transform: scale3d(1.2, 1.2, 1);
            transform: scale3d(1.2, 1.2, 1); } }

@-webkit-keyframes pulse-reverse1 {
  0% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity: 1;
    -webkit-transform: scale3d(1.1, 1.1, 1);
            transform: scale3d(1.1, 1.1, 1); }
  50%, 100% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0;
    -webkit-transform: scale3d(0.5, 0.5, 1);
            transform: scale3d(0.5, 0.5, 1); } }

@keyframes pulse-reverse1 {
  0% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity: 1;
    -webkit-transform: scale3d(1.1, 1.1, 1);
            transform: scale3d(1.1, 1.1, 1); }
  50%, 100% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0;
    -webkit-transform: scale3d(0.5, 0.5, 1);
            transform: scale3d(0.5, 0.5, 1); } }

@-webkit-keyframes pulse-reverse2 {
  0% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity: 1;
    -webkit-transform: scale3d(1.2, 1.2, 1);
            transform: scale3d(1.2, 1.2, 1); }
  100% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0;
    -webkit-transform: scale3d(0.5, 0.5, 1);
            transform: scale3d(0.5, 0.5, 1); } }

@keyframes pulse-reverse2 {
  0% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity: 1;
    -webkit-transform: scale3d(1.2, 1.2, 1);
            transform: scale3d(1.2, 1.2, 1); }
  100% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0;
    -webkit-transform: scale3d(0.5, 0.5, 1);
            transform: scale3d(0.5, 0.5, 1); } }

@keyframes recolor {
  0% {
    color: #36D484; }
  100% {
    color: #fff; } }

@-webkit-keyframes fd-pulse {
  0% {
    -webkit-box-shadow: 0 0 3px rgba(100, 130, 170, 0.55);
            box-shadow: 0 0 3px rgba(100, 130, 170, 0.55); }
  20% {
    -webkit-box-shadow: 0 0 4px rgba(70, 130, 170, 0.6);
            box-shadow: 0 0 4px rgba(70, 130, 170, 0.6); }
  40% {
    -webkit-box-shadow: 0 0 5px rgba(40, 130, 170, 0.65);
            box-shadow: 0 0 5px rgba(40, 130, 170, 0.65); }
  60% {
    -webkit-box-shadow: 0 0 6px rgba(10, 130, 170, 0.7);
            box-shadow: 0 0 6px rgba(10, 130, 170, 0.7); }
  80% {
    -webkit-box-shadow: 0 0 5px rgba(40, 130, 170, 0.65);
            box-shadow: 0 0 5px rgba(40, 130, 170, 0.65); }
  100% {
    -webkit-box-shadow: 0 0 4px rgba(70, 130, 170, 0.6);
            box-shadow: 0 0 4px rgba(70, 130, 170, 0.6); } }

@keyframes fd-pulse {
  0% {
    -webkit-box-shadow: 0 0 3px rgba(100, 130, 170, 0.55);
            box-shadow: 0 0 3px rgba(100, 130, 170, 0.55); }
  20% {
    -webkit-box-shadow: 0 0 4px rgba(70, 130, 170, 0.6);
            box-shadow: 0 0 4px rgba(70, 130, 170, 0.6); }
  40% {
    -webkit-box-shadow: 0 0 5px rgba(40, 130, 170, 0.65);
            box-shadow: 0 0 5px rgba(40, 130, 170, 0.65); }
  60% {
    -webkit-box-shadow: 0 0 6px rgba(10, 130, 170, 0.7);
            box-shadow: 0 0 6px rgba(10, 130, 170, 0.7); }
  80% {
    -webkit-box-shadow: 0 0 5px rgba(40, 130, 170, 0.65);
            box-shadow: 0 0 5px rgba(40, 130, 170, 0.65); }
  100% {
    -webkit-box-shadow: 0 0 4px rgba(70, 130, 170, 0.6);
            box-shadow: 0 0 4px rgba(70, 130, 170, 0.6); } }

@-webkit-keyframes slide-down {
  0% {
    margin-top: -3rem;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0; }
  100% {
    margin-top: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity: 1; } }

@keyframes slide-down {
  0% {
    margin-top: -3rem;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0; }
  100% {
    margin-top: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity: 1; } }

@-webkit-keyframes slide-up {
  0% {
    margin-bottom: -3rem;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0; }
  100% {
    margin-bottom: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity: 1; } }

@keyframes slide-up {
  0% {
    margin-bottom: -3rem;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0; }
  100% {
    margin-bottom: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity: 1; } }

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    height: 0; }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    height: 100%; } }

@keyframes slideDown {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    height: 0; }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    height: 100%; } }

@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    height: 100%; }
  100% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    height: 0; } }

@keyframes slideUp {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    height: 100%; }
  100% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    height: 0; } }

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

.button {
  margin: 0;
  border: none;
  overflow: visible;
  font: inherit;
  text-align: center;
  text-transform: none;
  text-decoration: none;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: transparent;
  vertical-align: middle;
  padding-top: 0;
  padding-bottom: 0;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-appearance: none;
  border-color: transparent;
  -webkit-transition: border-color 0.3s ease, background-color 0.3s ease, color 0.3s ease;
  transition: border-color 0.3s ease, background-color 0.3s ease, color 0.3s ease; }
  .button:focus {
    outline: 0; }

.captcha {
  clear: both; }
  .captcha__image {
    width: 120px;
    float: left;
    border: 1px solid #eee;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    overflow: hidden; }
    .captcha__image__trigger {
      display: block;
      cursor: pointer; }
  .captcha__field {
    margin-left: 135px; }

.f-checkbox {
  clear: both;
  min-width: 18px;
  min-height: 18px;
  cursor: pointer;
  display: block;
  position: relative;
  font-size: 0; }
  .f-checkbox__input {
    width: 0;
    height: 0;
    left: 0;
    top: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0;
    position: absolute; }
  .f-checkbox__visible {
    width: 18px;
    height: 18px;
    float: left;
    outline: none;
    overflow: hidden;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background: #fff;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 1px solid #dde7ea;
    margin-right: -18px; }
    .f-checkbox__visible:before {
      width: 11px;
      height: 6px;
      content: "";
      display: none;
      position: absolute;
      left: 4px;
      top: 5px;
      -webkit-border-image: none;
           -o-border-image: none;
              border-image: none;
      border-color: #36D484;
      border-style: solid;
      border-width: 0 0 3px 3px;
      -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg); }
  .f-checkbox__label {
    width: 100%;
    float: left;
    display: block;
    color: #000;
    font-size: 14px;
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 18px;
    font-weight: 400;
    padding-left: 25px;
    letter-spacing: 0.01ex; }
    .f-checkbox__label__middle {
      margin-top: -1px;
      line-height: 1.3;
      display: inline-block;
      vertical-align: middle; }
  .f-checkbox__input:checked + .f-checkbox__visible {
    border-color: #36D484; }
    .f-checkbox__input:checked + .f-checkbox__visible:before {
      display: block; }

.c-error-text {
  position: absolute;
  top: 100%;
  font-size: 1.3em;
  font-weight: 300;
  line-height: 1;
  margin-top: 4px;
  color: red; }

.f-group {
  clear: both; }
  .f-group__button {
    float: left; }
  .f-group__link {
    float: right; }

input,
textarea {
  -webkit-appearance: textfield;
  -webkit-rtl-ordering: logical;
  -webkit-user-select: text;
  cursor: auto; }
  input:focus,
  textarea:focus {
    outline: none; }

select {
  -webkit-appearance: none;
  -webkit-border-radius: 0px; }

label {
  cursor: pointer; }

input, button {
  -webkit-appearance: none; }

textarea {
  resize: vertical; }

.f-input,
.f-textarea {
  width: 100%;
  color: #000;
  font-size: 14px;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 400;
  border-radius: 1px;
  border: 1px solid #dde7ea; }
  .f-input.error,
  .f-textarea.error {
    background: #ff0000;
    background: rgba(255, 0, 0, 0.1);
    border-color: red;
    border-color: rgba(255, 0, 0, 0.5); }
  .f-input:disabled,
  .f-textarea:disabled {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    opacity: 0.4;
    cursor: default; }
  .f-input:focus, .f-input:focus,
  .f-textarea:focus,
  .f-textarea:focus {
    outline: none; }
  .f-input::-ms-clear,
  .f-textarea::-ms-clear {
    display: none; }

.f-input {
  height: 38px;
  padding: 0 10px; }

.f-label {
  clear: both;
  font-size: 0;
  display: block;
  position: relative; }
  .f-label:not(:last-child) {
    margin-bottom: 15px; }
  .f-label__row:not(:last-child) {
    margin-bottom: 5px; }
  .f-label__name {
    width: 120px;
    float: left;
    position: relative;
    z-index: 10;
    color: #000;
    display: block;
    font-size: 13px;
    font-size: 13px;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 38px;
    text-align: right;
    margin-right: -120px; }
    .f-label__name__text {
      line-height: 1.2;
      display: inline-block; }
      .f-label__name__text._middle {
        vertical-align: middle; }
      .f-label__name__text._top {
        margin-top: -1px;
        vertical-align: top; }
    .f-label__name._no-lh {
      line-height: 1; }
    .f-label__name.is-noinline {
      width: 100%;
      float: none;
      line-height: 1;
      text-align: left;
      margin-right: 0;
      margin-bottom: 7px; }
  .f-label__error {
    color: #ffd530;
    display: block;
    font-size: 14px;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 1;
    font-weight: 400;
    margin-top: 5px; }
  .f-label__content {
    width: 100%;
    float: left;
    padding-left: 137px;
    display: block; }
    .f-label__content.is-noinline {
      float: none;
      padding-left: 0; }

.is-hidden {
  display: none; }
  .is-hidden.is-show {
    display: block; }

input:placeholder, textarea:placeholder {
  color: #000;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  opacity: 0.5;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; }

input:focus:placeholder, textarea:focus:placeholder {
  color: transparent;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  opacity: 0; }

input:placeholder, input[placeholder], textarea:placeholder, textarea[placeholder] {
  text-overflow: ellipsis; }

.f-radio {
  clear: both;
  min-width: 18px;
  min-height: 18px;
  cursor: pointer;
  display: block;
  position: relative;
  font-size: 0; }
  .f-radio__input {
    width: 0;
    height: 0;
    left: 0;
    top: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0;
    position: absolute; }
  .f-radio__visible {
    width: 18px;
    height: 18px;
    float: left;
    outline: none;
    overflow: hidden;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background: #fff;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 1px solid #dde7ea;
    margin-right: -18px;
    border-width: 2px;
    border-radius: 50%; }
    .f-radio__visible:before {
      width: 10px;
      height: 10px;
      margin: 2px;
      content: "";
      display: none;
      border-radius: 50%;
      background-color: #36D484; }
  .f-radio__label {
    width: 100%;
    float: left;
    display: block;
    color: #000;
    font-size: 14px;
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 18px;
    font-weight: 400;
    padding-left: 25px;
    letter-spacing: 0.01ex; }
    .f-radio__label__middle {
      margin-top: -1px;
      line-height: 1.3;
      display: inline-block;
      vertical-align: middle; }
  .f-radio__input:checked + .f-radio__visible {
    border-color: #36D484; }
    .f-radio__input:checked + .f-radio__visible:before {
      display: block; }

.f-row {
  clear: both;
  margin-bottom: 20px; }
  .f-row.is-small-margin {
    margin-bottom: 15px; }
  .f-row__title {
    font-size: 17px;
    font-size: 17px;
    font-size: 1.7rem;
    line-height: 1;
    font-weight: 500; }
  .f-row__toggle {
    color: #36D484;
    cursor: pointer;
    font-size: 15px;
    font-size: 15px;
    font-size: 1.5rem;
    line-height: 1;
    font-weight: 400;
    text-decoration: none; }
  .f-row__push {
    padding-left: 137px; }
  .f-row__col {
    width: 25%;
    float: left; }
    .f-row__col:not(:last-child) {
      padding-right: 5px; }
    .f-row__col:not(:first-child) {
      padding-left: 5px; }
    .f-row__col._x50 {
      width: 50%; }
      .f-row__col._x50:not(:last-child) {
        padding-right: 0; }
      .f-row__col._x50:not(:first-child) {
        padding-left: 0; }

.f-star {
  color: #ffd530;
  font-size: 14px;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 400;
  margin-left: 2px;
  margin-top: -1px;
  position: absolute;
  left: 100%;
  background: none; }
  .f-star.is-noinline {
    position: relative;
    left: auto; }

.switcher {
  clear: both;
  font-size: 0;
  display: block;
  cursor: pointer;
  position: relative; }
  .switcher__input {
    width: 0;
    height: 0;
    left: 0;
    top: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0;
    position: absolute; }
  .switcher__visible {
    width: 100%;
    height: 44px;
    outline: none;
    display: block;
    overflow: hidden;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background: #fff;
    border: 1px solid #cdcdcd; }
    .switcher__visible:before {
      width: 100%;
      height: 100%;
      content: "";
      display: none;
      background-color: #36D484; }
  .switcher__label {
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    color: #000;
    padding: 0 15px;
    font-size: 15px;
    font-size: 15px;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 42px;
    font-weight: 400;
    letter-spacing: 0.01ex; }
    .switcher__label__middle {
      margin-top: -1px;
      line-height: 1.1;
      display: inline-block;
      vertical-align: middle; }
  .switcher__input:checked + .switcher__visible {
    border-color: #36D484; }
    .switcher__input:checked + .switcher__visible:before {
      display: block; }
  .switcher__input:checked + .switcher__visible + .switcher__label {
    color: #fff; }

.f-textarea {
  height: 80px;
  max-height: 170px;
  padding: 7px 10px;
  max-width: 100%;
  resize: vertical; }
  .f-textarea_simple {
    height: 87px; }

.header {
  clear: both;
  width: 100%;
  position: relative;
  height: 60px;
  background-color: #0c63b9;
  -webkit-transition: -webkit-transform 0.15s;
  transition: -webkit-transform 0.15s;
  transition: transform 0.15s;
  transition: transform 0.15s, -webkit-transform 0.15s; }
  .header__cache {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
    text-align: center;
    line-height: 60px;
    width: 60px;
    height: 60px;
    border-left: 1px solid #3372b1; }
    .header__cache .clear-cache,
    .header__cache .clear-complete {
      max-width: 24px;
      max-height: 24px;
      display: inline-block;
      vertical-align: middle;
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: -12px;
      margin-top: -12px;
      -webkit-transition: opacity 0.3s;
      transition: opacity 0.3s; }
    .header__cache .clear-cache {
      color: #fff; }
    .header__cache .clear-complete {
      color: #36D484;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      opacity: 0; }
    .header__cache.in-progress .clear-cache {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      -webkit-animation: pulse1 1.5s infinite linear;
              animation: pulse1 1.5s infinite linear; }
    .header__cache.is-complete .clear-cache {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      opacity: 0; }
    .header__cache.is-complete .clear-complete {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
      opacity: 1; }

.popup-open {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-overflow-scrolling: touch; }
  .popup-open .layout-wrapper {
    overflow: hidden; }

.no-scroll.popup-open {
  overflow: hidden; }

.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
  padding: 0;
  z-index: 8888;
  display: none;
  background-color: #fff;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  opacity: 0; }
  .overlay.visible {
    display: block; }
  .overlay.animate {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    opacity: 0.7; }

.popup {
  width: 100%;
  height: 100%;
  max-width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 1;
  z-index: 9999;
  display: none;
  overflow-y: auto;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: opacity .5s, -webkit-transform .6s;
  transition: opacity .5s, -webkit-transform .6s;
  transition: opacity .5s, transform .6s;
  transition: opacity .5s, transform .6s, -webkit-transform .6s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  opacity: 0; }
  .popup.visible {
    display: block; }
  .popup.animate {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity: 1; }
  .popup__dialog {
    width: 100%;
    height: auto;
    max-width: 960px;
    max-width: 960px;
    max-width: 96rem;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    position: relative;
    padding: 50px 0;
    padding: 50px 0;
    padding: 5rem 0; }
    .popup__dialog.is-scrolling {
      position: relative;
      left: auto;
      top: auto;
      -webkit-transform: none;
          -ms-transform: none;
              transform: none; }
  .popup__content {
    width: 100%;
    line-height: 1;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    text-align: left;
    padding: 0;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-box-shadow: 0 0 0.9rem rgba(0, 0, 0, 0.18);
            box-shadow: 0 0 0.9rem rgba(0, 0, 0, 0.18); }
  .popup__header {
    height: 70px;
    text-align: center;
    line-height: 70px;
    background-color: #EAEFF3; }
    .popup__header__title {
      color: #535353;
      font-size: 22px;
      font-size: 22px;
      font-size: 2.2rem;
      font-weight: 400; }
  .popup__body {
    padding: 35px 40px;
    background-color: #fff; }
  .popup__close {
    height: 23px;
    color: #878787;
    position: absolute;
    right: 0;
    top: -35px;
    cursor: pointer;
    padding-right: 32px;
    font-size: 13px;
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 30px;
    font-weight: 400;
    text-decoration: underline;
    background: url(/images/close.png) 100% 50% no-repeat;
    -webkit-background-size: 23px 23px;
            background-size: 23px 23px; }

.sidebar {
  width: 182px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  margin-right: -60px;
  background-color: #2c405a;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: translate3d(-122px, 0, 0);
          transform: translate3d(-122px, 0, 0);
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s; }
  .sidebar.is-open {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }
  .sidebar__logo {
    width: 60px;
    height: 60px;
    line-height: 60px;
    background-color: #0c63b9;
    text-align: center;
    position: fixed;
    right: 0;
    top: 0; }
  .sidebar__content {
    width: 60px;
    position: absolute;
    top: 60px;
    right: 0;
    bottom: 0; }
  .sidebar.is-open .sidebar__logo {
    color: #F8C52C;
    background-color: transparent; }
  .sidebar__helper {
    width: 162px;
    width: 300px;
    height: 100%;
    position: absolute;
    left: 100%;
    top: 60px;
    background-color: #fff;
    border-right: 1px solid #dde7ea; }
  .sidebar__bottom {
    position: absolute;
    bottom: 0;
    right: 0; }
  .sidebar__ico {
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: #fff;
    display: block;
    -webkit-transition: color 0.25s;
    transition: color 0.25s; }
    .sidebar__ico svg {
      max-width: 21px;
      max-height: 21px;
      display: inline-block;
      vertical-align: middle; }
    .sidebar__ico:hover {
      color: #F8C52C; }
  .sidebar__settings:hover svg {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-animation: spinner 1s infinite linear;
            animation: spinner 1s infinite linear; }

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  position: relative;
  z-index: 1;
  padding-left: 60px;
  background-color: #ecf5fd;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
  -webkit-transform-style: flat;
          transform-style: flat; }
  .wrapper.is-open {
    -webkit-transform: translate3d(122px, 0, 0);
            transform: translate3d(122px, 0, 0); }
  .wrapper__row {
    clear: both; }
  .wrapper__helper {
    width: 280px;
    height: 100%;
    float: left;
    position: relative;
    z-index: 1;
    min-height: 1500px;
    margin-right: -300px;
    background-color: #fff;
    border-right: 1px solid #dde7ea; }
  .wrapper__section {
    width: 250px;
    float: right;
    height: 1000px;
    margin-left: -250px;
    background-color: #fff;
    border-left: 1px solid #dde7ea; }
  .wrapper__content {
    clear: both;
    padding: 20px; }
    .wrapper__content.loading {
      border: 1px solid red; }
  .wrapper__pusher {
    width: 100%; }
  .wrapper__helper + .wrapper__pusher {
    float: left;
    padding-left: 300px; }
  .wrapper__helper + .wrapper__section + .wrapper__pusher {
    float: left;
    padding-left: 280px;
    padding-right: 250px; }

ol {
  counter-reset: numeric; }
  ol li:before {
    counter-increment: numeric;
    content: counter(numeric); }

.breadcrumbs {
  clear: both;
  width: 100%;
  padding: 0;
  overflow: hidden;
  margin-bottom: 15px; }
  .breadcrumbs__wrapper {
    padding: 0; }
  .breadcrumbs__list {
    margin: 0;
    padding: 0;
    list-style-type: none; }
  .breadcrumbs__item {
    float: left;
    margin: 0;
    padding: 0;
    font-size: 0;
    padding-right: 12px;
    margin-right: 8px;
    background: none;
    position: relative;
    vertical-align: top; }
    .breadcrumbs__item:not(:last-child):after {
      content: "/";
      font-size: 14px;
      font-size: 14px;
      font-size: 1.4rem;
      font-weight: 300;
      color: #000;
      position: absolute;
      top: 0;
      right: -2px; }
    .breadcrumbs__item__link {
      color: #435ba9;
      font-size: 14px;
      font-size: 14px;
      font-size: 1.4rem;
      font-weight: 300;
      padding: 0;
      display: block;
      text-decoration: none; }
    .breadcrumbs__item:last-child .breadcrumbs__item__link {
      color: #000; }

.btn {
  height: 40px;
  padding: 0 15px 10px;
  font-size: 15px;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 38px;
  border-radius: 1px;
  text-align: center;
  text-decoration: none; }
  .btn.is-link {
    color: #656d79;
    padding: 0;
    height: auto;
    line-height: .9;
    margin-top: 4px;
    background: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #9aa0aa; }
    .btn.is-link:hover {
      color: #0093ee;
      border-color: #0093ee; }
  .btn.is-save {
    color: #fff;
    background-color: #3f536e; }
    .btn.is-save:hover {
      background-color: #526b8e; }
  .btn.is-apply {
    color: #fff;
    background-color: #57BB8A; }
    .btn.is-apply:hover {
      background-color: #7bcaa3; }
  .btn:not(.is-link):active {
    -webkit-box-shadow: inset 0 4px 0 0 rgba(0, 0, 0, 0.1);
            box-shadow: inset 0 4px 0 0 rgba(0, 0, 0, 0.1); }
  .btn.is-disabled {
    background: #ccc !important;
    cursor: not-allowed !important;
    background: #ccc !important; }
    .btn.is-disabled, .btn.is-disabled:hover {
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
      background: #ccc !important; }

.btn-list {
  line-height: 40px; }
  .btn-list .btn {
    display: inline-block;
    vertical-align: middle; }
    .btn-list .btn:not(:last-child) {
      margin-right: 15px; }
  .btn-list__title {
    color: #9c9e9d;
    font-size: 13px;
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 1;
    margin-right: 7px;
    display: inline-block;
    vertical-align: middle; }

.logo {
  color: #ffd530;
  cursor: pointer;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s; }
  .logo__image {
    max-width: 30px;
    max-height: 30px;
    display: inline-block;
    vertical-align: middle; }

.cd-morph-dropdown {
  position: relative; }

.cd-morph-dropdown .morph-dropdown-wrapper {
  display: none;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%; }

.cd-morph-dropdown.nav-open .morph-dropdown-wrapper {
  display: block; }

@media only screen and (min-width: 1000px) {
  .cd-morph-dropdown .dropdown-list {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden; }
  .cd-morph-dropdown .dropdown {
    position: absolute;
    left: 0;
    top: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0;
    visibility: hidden;
    width: 100%;
    -webkit-transition: opacity .3s, visibility .3s;
    transition: opacity .3s, visibility .3s; } }

@media only screen and (min-width: 1000px) {
  .cd-morph-dropdown .dropdown.active {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity: 1;
    visibility: visible; } }

@media only screen and (min-width: 1000px) {
  .cd-morph-dropdown .bg-layer {
    /* morph dropdown background */
    position: absolute;
    top: 0;
    left: 0;
    height: 1px;
    width: 1px;
    background: #FFFFFF;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
    -webkit-transform-origin: top left;
        -ms-transform-origin: top left;
            transform-origin: top left; }
  .cd-morph-dropdown.is-dropdown-visible .bg-layer {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity: 1;
    -webkit-transition: opacity .3s, -webkit-transform .3s;
    transition: opacity .3s, -webkit-transform .3s;
    transition: transform .3s, opacity .3s;
    transition: transform .3s, opacity .3s, -webkit-transform .3s; } }

.nav {
  float: left;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding-left: 20px;
  border-left: 1px solid #3372b1;
  -webkit-transition: border-color 0.25s;
  transition: border-color 0.25s; }
  .nav__item {
    line-height: 60px;
    display: inline-block;
    vertical-align: top; }
    .nav__item:not(:last-child) {
      margin-right: 25px; }
    .nav__item__link {
      color: #9dbbd2;
      font-size: 14px;
      font-size: 14px;
      font-size: 1.4rem;
      line-height: 26px;
      display: inline-block;
      vertical-align: middle;
      text-decoration: none;
      -webkit-transition: color 0.3s ease;
      transition: color 0.3s ease; }
      .nav__item__link:hover {
        color: #fff; }
      .nav__item__link.is-current {
        color: #fff;
        cursor: default; }

.is-open .nav {
  border-color: transparent; }

.pagination {
  clear: both;
  font-size: 0;
  line-height: 0;
  text-align: left;
  margin: 30px 0 0;
  margin: 30px 0 0;
  margin: 3rem 0 0; }
  .pagination__list {
    letter-spacing: normal;
    margin: 0 !important;
    padding: 0 !important; }
  .pagination__item {
    padding: 0;
    background: none;
    vertical-align: top;
    display: inline-block; }
    .pagination__item:not(:first-child) {
      margin-left: 2px; }
    .pagination__item:not(:last-child) {
      margin-right: 2px; }
    .pagination__item__text {
      text-decoration: none;
      color: #333;
      font-size: 15px;
      font-size: 15px;
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 40px;
      line-height: 40px;
      line-height: 4rem; }
    .pagination__item__page, .pagination__item__page:visited {
      width: 40px;
      width: 40px;
      width: 4rem;
      height: 40px;
      height: 40px;
      height: 4rem;
      display: block;
      vertical-align: top;
      background-color: #fff;
      border: 4px solid #f00;
      text-decoration: none;
      text-align: center;
      outline: none;
      color: #333;
      font-size: 15px;
      font-size: 15px;
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 32px;
      line-height: 32px;
      line-height: 3.2rem;
      -webkit-transition: border-color 0.3s;
      transition: border-color 0.3s;
      -webkit-box-sizing: border-box;
              box-sizing: border-box; }
    .pagination__item__page:hover {
      border-color: #f00; }
    .pagination__item__page.current, .pagination__item__page.current:hover {
      border-color: #f00; }
    .pagination__item__nav {
      position: relative;
      margin: 0 16px; }
      .pagination__item__nav, .pagination__item__nav:before {
        width: 13px;
        height: 40px;
        display: block;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        -webkit-background-size: 13px 20px;
                background-size: 13px 20px; }
      .pagination__item__nav:before {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        opacity: 0;
        -webkit-transition: opacity 0.3s;
        transition: opacity 0.3s; }
      .pagination__item__nav:hover:before {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        opacity: 1; }

.preload {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  opacity: 0;
  display: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
  height: 60px;
  line-height: 60px;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  background-color: #f0f0b4;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
  -webkit-transition: opacity 0.3s ease, -webkit-transform 0.3s linear;
  transition: opacity 0.3s ease, -webkit-transform 0.3s linear;
  transition: transform 0.3s linear, opacity 0.3s ease;
  transition: transform 0.3s linear, opacity 0.3s ease, -webkit-transform 0.3s linear; }
  .preload.is-show {
    display: block;
    z-index: 10000; }
  .preload.is-active {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity: 1;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0); }
  .preload__center {
    display: inline-block;
    vertical-align: middle; }
  .preload__spinner {
    width: 30px;
    height: 30px;
    float: left;
    margin-right: -30px;
    border: 2px solid transparent;
    border-top-color: #3367d6;
    border-left-color: #3367d6;
    border-radius: 100%;
    -webkit-animation: spinner .9s linear infinite;
            animation: spinner .9s linear infinite; }
  .preload__label {
    width: 100%;
    float: left;
    color: #000;
    font-size: 16px;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 30px;
    padding-left: 45px; }

.quantity {
  clear: both;
  float: left;
  width: 100%;
  max-width: 160px;
  padding: 0 35px;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .quantity__count {
    width: 100%;
    height: 36px;
    color: #000;
    font-size: 18px;
    font-size: 18px;
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: 400;
    padding: 0;
    outline: none;
    text-align: center;
    border: 1px solid #cecece;
    border-radius: 4px;
    background: none; }
  .quantity__control {
    width: 30px;
    height: 30px;
    color: #fff;
    position: absolute;
    top: 50%;
    border: 0;
    outline: none;
    font-family: sans-serif;
    font-size: 24px;
    font-size: 24px;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
    margin-top: -14px;
    text-align: center;
    border-radius: 50%;
    background-color: #36D484;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(0, 0, 0, 0.01)), to(rgba(255, 255, 255, 0.01)));
    background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.01) 0, rgba(255, 255, 255, 0.01) 100%);
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.01) 0, rgba(255, 255, 255, 0.01) 100%);
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s; }
    .quantity__control:before, .quantity__control:after {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      z-index: 1;
      background-color: #fff; }
    .quantity__control:before {
      width: 17px;
      height: 2px;
      margin-left: -8.5px;
      margin-top: -1px; }
    .quantity__control._decrease {
      left: 0;
      line-height: 28px; }
    .quantity__control._increase {
      right: 0;
      line-height: 26px; }
      .quantity__control._increase:after {
        width: 2px;
        height: 17px;
        margin-top: -8.5px;
        margin-left: -1px; }
    .quantity__control i {
      font-style: normal; }
    .quantity__control:hover {
      background-color: #ACFFAC; }

.table-switcher {
  display: block;
  cursor: pointer;
  min-height: 40px;
  line-height: 40px; }
  .table-switcher__dot {
    position: relative;
    display: inline-block; }
    .table-switcher__dot, .table-switcher__dot:before, .table-switcher__dot:after {
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: #ecf5fd; }
    .table-switcher__dot:before, .table-switcher__dot:after {
      content: "";
      position: absolute;
      left: 0; }
    .table-switcher__dot:before {
      bottom: 3px;
      -webkit-transform: translate3d(0, -100%, 0);
              transform: translate3d(0, -100%, 0); }
    .table-switcher__dot:after {
      top: 3px;
      -webkit-transform: translate3d(0, 100%, 0);
              transform: translate3d(0, 100%, 0); }

table {
  width: 100%;
  font-size: 14px;
  font-size: 14px;
  font-size: 1.4rem;
  background-color: #fff;
  border: 1px solid #dde7ea; }
  table:not(:last-child) {
    margin-bottom: 20px; }
  table td, table th {
    padding: 10px;
    border-bottom: 1px solid #dde7ea; }
  table th {
    text-transform: uppercase;
    border-right: 1px solid #dde7ea;
    background-color: #ecf5fd; }
    table th.is-switcher {
      width: 24px;
      padding: 0;
      text-align: center;
      vertical-align: middle;
      background-color: #0093ee; }
  table thead tr th:first-child, table tbody tr th:first-child {
    text-align: center; }

.treeview {
  list-style-type: none; }
  .treeview__branch {
    clear: both;
    padding: 10px 0;
    font-size: 12px;
    font-size: 12px;
    font-size: 1.2rem;
    padding-left: 20px;
    position: relative;
    border-bottom: 1px solid #dde7ea; }
    .treeview__branch__link {
      display: block;
      color: #FD9252;
      text-decoration: none; }
    .treeview__branch__name {
      color: #0b8043;
      display: block; }
    .treeview__branch__url {
      color: #cdcdcd;
      display: block; }
    .treeview__branch__sub-page {
      color: #fff;
      display: block;
      position: absolute;
      left: 0;
      top: 100%;
      display: none;
      padding: 5px 20px;
      text-decoration: none;
      background-color: #76B5FF; }
