<div class="box">
    {% include './filter.twig' ignore missing with {'ADMIN_DIR': ADMIN_DIR} only %}
</div>

{#
<div class="box">
    
    <div class="form__row">
        <select name="">
            <option value="1">lorem</option>
            <option value="2">lorem</option>
            <option value="3">lorem</option>
            <option value="4">lorem</option>
            <option value="5">lorem</option>
        </select>
    </div>
    
    <div class="form__row">
        <select name="" multiple>
            <option value="1">lorem</option>
            <option value="2">lorem</option>
            <option value="3">lorem</option>
            <option value="4">lorem</option>
            <option value="5">lorem</option>
        </select>
    </div>

    <div class="form__row">
        <select name="" disabled>
            <option value="1">lorem</option>
            <option value="2">lorem</option>
            <option value="3">lorem</option>
            <option value="4">lorem</option>
            <option value="5">lorem</option>
        </select>
    </div>

</div>
#}
{#
<div class="box">
    <ul class="breadcrumb">
        <li class="breadcrumb__item">
            <a href="#" class="breadcrumb__item__link">
                Home
            </a>
        </li>
        <li class="breadcrumb__item">
            <a href="#" class="breadcrumb__item__link">
                Profile
            </a>
        </li>
        <li class="breadcrumb__item">
            <a href="#" class="breadcrumb__item__link">
                Change avatar
            </a>
        </li>
    </ul>
</div>
#}
{# 
<div class="box">
    <ul class="tab">
        <li class="tab-item">
            <a href="#tabs" class="tab-item__link _active">
                Music
            </a>
        </li>
        <li class="tab-item">
            <a href="#tabs" class="tab-item__link">
                Playlists
            </a>
        </li>
        <li class="tab-item">
            <a href="#tabs" class="tab-item__link">
                Radio
            </a>
        </li>
        <li class="tab-item">
            <a href="#tabs" class="tab-item__link">
                Connect
            </a>
        </li>
    </ul>
</div>
#}
{# 
<div class="box">
    <ul class="tab">
        <li class="tab-item _block">
            <a href="#tabs" class="tab-item__link _active">
                Music
            </a>
        </li>
        <li class="tab-item _block">
            <a href="#tabs" class="tab-item__link">
                Playlists
            </a>
        </li>
        <li class="tab-item _block">
            <a href="#tabs" class="tab-item__link">
                Radio
            </a>
        </li>
        <li class="tab-item _block">
            <a href="#tabs" class="tab-item__link">
                Connect
            </a>
        </li>
    </ul>
</div>

<div class="box">
    <ul class="tab">
        <li class="tab-item _block">
            <span class="tab-item__badge badge badge_danger">9</span>

            <a href="#tabs" class="tab-item__link _active">
                Music
            </a>
        </li>
        <li class="tab-item _block">
            <a href="#tabs" class="tab-item__link">
                Playlists
            </a>
        </li>
        <li class="tab-item _block">
            <a href="#tabs" class="tab-item__link">
                Radio
            </a>
        </li>
        <li class="tab-item _block">
            <a href="#tabs" class="tab-item__link">
                Connect
            </a>
        </li>
    </ul>
</div>

<div class="box">
    <nav class="pagination" data-pagination='{"currentPage":1, "pages":5}'></nav>
    <nav class="pagination" data-pagination='{"displayedPages":5}'></nav>
    <nav class="pagination" data-pagination='{"items":200, "itemsOnPage":10}'></nav>
</div>

<div class="box box_primary">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit in libero vitae error, dolore autem voluptates sint nam, unde ducimus animi voluptatum dignissimos quae! Odit, iure. Officiis, maxime pariatur quae.
</div>

<div class="box box_secondary">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit in libero vitae error, dolore autem voluptates sint nam, unde ducimus animi voluptatum dignissimos quae! Odit, iure. Officiis, maxime pariatur quae.
</div>

<div class="loading"></div>
#}

<!-- 
<div class="modal modal-sm">
    <div class="modal-overlay"></div>
    <div class="modal-container">

    </div>
</div>
-->

<!-- 
<div class="modal-temp modal-sm">
    <div class="modal-overlay"></div>
    <div class="modal-container" role="document">
        <div class="modal-header">
            <button type="button" class="btn btn_clear" aria-label="Close"></button>
            <div class="modal-title">Modal title</div>
        </div>
        <div class="modal-body">
            <div class="content">
                <form lpformnum="1">
                    <div class="form-group">
                        <label class="form-label" for="input-example-7">Name</label>
                        <input class="form-input" type="text" id="input-example-7" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <label class="form-label">Gender</label>
                        <label class="form-radio">
                            <input type="radio" name="gender">
                            <i class="form-icon"></i> Male
                        </label>
                        <label class="form-radio">
                            <input type="radio" name="gender" checked="">
                            <i class="form-icon"></i> Female
                        </label>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn_link">Close</button>
            <button class="btn btn_primary">Submit</button>
        </div>
    </div>
</div>
-->
{# 
<div class="modal active1">
    <div class="modal-overlay"></div>
    <div class="modal-wrapper">
        <div class="modal-container">
            <div class="modal-header">
                <button class="btn btn_clear modal-close"></button>
                <div class="modal-title">Modal title</div>
            </div>
            <div class="modal-body">
                <div class="content">
                    
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat animi repudiandae voluptatum veritatis maiores aut, libero nam officiis nihil, blanditiis cum, vel qui eaque molestiae quia vitae repellendus. Enim, consequuntur.</p>
                    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                    <!--
                    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                    -->
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat animi repudiandae voluptatum veritatis maiores aut, libero nam officiis nihil, blanditiis cum, vel qui eaque molestiae quia vitae repellendus. Enim, consequuntur.</p>

                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn_link">Close</button>
                <button class="btn btn_primary">Share</button>
            </div>
        </div>
    </div>
</div>
 #}

<div class="box">
{# 
    <span class="label label_default">Default</span>
    <span class="label label_primary">Primary</span>
    <span class="label label_success">Success</span>
    <span class="label label_info">Info</span>
    <span class="label label_warning">Warning</span>
    <span class="label label_danger">Danger</span>
    
    <br><br>

    <span class="badge badge_default">1</span>
    <span class="badge badge_primary">2</span>
    <span class="badge badge_success">3</span>
    <span class="badge badge_info">4</span>
    <span class="badge badge_warning">5</span>
    <span class="badge badge_danger">6</span>

    <span class="badge badge_default">Default</span>
    <span class="badge badge_primary">Primary</span>
    <span class="badge badge_success">Success</span>
    <span class="badge badge_info">Info</span>
    <span class="badge badge_warning">Warning</span>
    <span class="badge badge_danger">Danger</span>

    <br><br>

    <button type="button" class="btn btn_default">Default</button>
    <button type="button" class="btn btn_primary">Primary</button>
    <button type="button" class="btn btn_success">Success</button>
    <button type="button" class="btn btn_info">Info</button>
    <button type="button" class="btn btn_warning">Warning</button>
    <button type="button" class="btn btn_danger">Danger</button>
    <button type="button" class="btn btn_link">Link</button>
    
    <button type="button" class="btn btn_clear"></button>

    <br><br>

    <a href="" class="btn btn_default">Default</a>
    <a href="" class="btn btn_primary">Primary</a>
    <a href="" class="btn btn_success">Success</a>
    <a href="" class="btn btn_info">Info</a>
    <a href="" class="btn btn_warning">Warning</a>
    <a href="" class="btn btn_danger">Danger</a>
    <a href="" class="btn btn_link">Link</a>
    <a href="" class="btn btn_clear"></a>
    
    <br><br>

    <span class="alert alert_default" role="alert">Default</span>
    <span class="alert alert_primary" role="alert">Primary</span>
    <span class="alert alert_success" role="alert">Success</span>
    <span class="alert alert_info" role="alert">Info</span>
    <span class="alert alert_warning" role="alert">Warning</span>
    <span class="alert alert_danger" role="alert">Danger</span>

    <br><br>
    
    <progress max="100" value="25">
        Загружено на <span id="value">25</span>%
    </progress>

    <progress value="70" max="100">70 %</progress>
    
    <div class="progress">
        <progress max="100" value="12"></progress>
        <div class="progress-value"></div>
        <div class="progress-bg"><div class="progress-bar"></div></div>
    </div>
    
    <div class="progress">
        <progress max="100" value="33"></progress>
        <div class="progress-value"></div>
        <div class="progress-bg"><div class="progress-bar"></div></div>
    </div>

    <div class="progress">
        <progress max="100" value="44"></progress>
        <div class="progress-value"></div>
        <div class="progress-bg"><div class="progress-bar"></div></div>
    </div>

    <div class="progress">
        <progress max="100" value="100"></progress>
        <div class="progress-value"></div>
        <div class="progress-bg"><div class="progress-bar"></div></div>
    </div>
 #}
    <table class="table">
        <colgroup>
            <col width="44">
            <col>
        </colgroup>
        <thead>
            <tr>
                <th>#</th>
                <th>Widgets Sold</th>
                <th class="is-switcher">
                    <div class="table-switcher j-switcher">
                        <i class="table-switcher__dot"></i>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>1</th>
                <td colspan="2">5</td>
            </tr>
            <tr>
                <th>2</th>
                <td colspan="2">10</td>
            </tr>
            <tr>
                <th>3</th>
                <td colspan="2">500</td>
            </tr>
        </tbody>
    </table>

    <div></div>

    {# 
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th class="text-center">#</th>
                    <th>Name</th>
                    <th>Job Position</th>
                    <th>Since</th>
                    <th class="text-right">Salary</th>
                    <th class="text-right">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th class="text-center">1</th>
                    <td>Andrew Mike</td>
                    <td>Develop</td>
                    <td>2013</td>
                    <td class="text-right">&euro; 99,225</td>
                    <td class="td-actions text-right">
                        <button type="button" rel="tooltip" title="View Profile" class="btn btn_info btn_simple btn_xs">
                            <i class="fa fa-user"></i>
                        </button>
                        <button type="button" rel="tooltip" title="Edit Profile" class="btn btn_success btn_simple btn_xs">
                            <i class="fa fa-edit"></i>
                        </button>
                        <button type="button" rel="tooltip" title="Remove" class="btn btn_danger btn_simple btn_xs">
                            <i class="fa fa-times"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <th class="text-center">2</th>
                    <td>John Doe</td>
                    <td>Design</td>
                    <td>2012</td>
                    <td class="text-right">&euro; 89,241</td>
                    <td class="td-actions text-right">
                        <button type="button" rel="tooltip" title="View Profile" class="btn btn_info btn_simple btn_xs">
                            <i class="fa fa-user"></i>
                        </button>
                        <button type="button" rel="tooltip" title="Edit Profile" class="btn btn_success btn_simple btn_xs">
                            <i class="fa fa-edit"></i>
                        </button>
                        <button type="button" rel="tooltip" title="Remove" class="btn btn_danger btn_simple btn_xs">
                            <i class="fa fa-times"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <th class="text-center">3</th>
                    <td>Alex Mike</td>
                    <td>Design</td>
                    <td>2010</td>
                    <td class="text-right">&euro; 92,144</td>
                    <td class="td-actions text-right">
                        <button type="button" rel="tooltip" title="View Profile" class="btn btn_info btn_simple btn_xs">
                            <i class="fa fa-user"></i>
                        </button>
                        <button type="button" rel="tooltip" title="Edit Profile" class="btn btn_success btn_simple btn_xs">
                            <i class="fa fa-edit"></i>
                        </button>
                        <button type="button" rel="tooltip" title="Remove" class="btn btn_danger btn_simple btn_xs">
                            <i class="fa fa-times"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    #}
</div>
