<header class="layout-header">
    <div class="layout-header__wrapper">
        
        <nav class="nav" role="navigation">
            <span class="nav__item"><a href="/markup/site.html" class="nav__item__link@@if (current == 'site'){ nav__item__link_current}">Сайт</a></span>
            <span class="nav__item"><a href="/markup/marketing.html" class="nav__item__link@@if (current == 'marketing'){ nav__item__link_current}">Маркетинг</a></span>
            <span class="nav__item"><a href="/markup/seo.html" class="nav__item__link@@if (current == 'seo'){ nav__item__link_current}">Поисковая оптимизация</a></span>
            <span class="nav__item"><a href="/markup/users.html" class="nav__item__link@@if (current == 'users'){ nav__item__link_current}">Пользователи</a></span>
            <span class="nav__item"><a href="/markup/shop.html" class="nav__item__link@@if (current == 'shop'){ nav__item__link_current}">Магазин</a></span>
            <span class="nav__item"><a href="/markup/system.html" class="nav__item__link@@if (current == 'system'){ nav__item__link_current}">Система</a></span>
        </nav>
        
        <!--
        <img src="/images/user.svg" width="39px" height="48px" style="float: right; position: absolute; right: 210px; top: 20px;" alt="">
        <img src="/images/airplane.svg" width="30" height="26" style="float: right; position: absolute; right: 110px; top: 20px;" alt="">
        <img src="/images/notifications.svg" width="23" height="24" style="float: right; position: absolute; right: 10px; top: 20px;" alt="">
        
        <div class="notifier">
            <a class="notifier__toggle" href="#" data-reactid=".0.0">
                <b class="badge badge_red notifier__count">3</b>
            </a>
        </div>

        <div class="header__profile dropdown">
            <a class="header__profile-link dropdown__toggle" href="#"><figure class="user-pic user-pic_xsmall"><img src="" alt="Xsmall dolan"></figure>
                <span>Skyla</span>
            </a>
            <div class="dropdown__menu dropdown__menu_full" style="display: none;">
                <a class="dropdown__menu-item" href="/d/users/edit">Настройки</a>
                <a class="dropdown__menu-item" href="/student/profile_employee">Профиль</a>
                <a class="dropdown__menu-item" href="#">Помощь</a>
                <a class="dropdown__menu-item dropdown__menu-item_separated" rel="nofollow" data-method="delete" href="/d/users/sign_out"><span>Выход</span>
                    <i class="lcm-icon lcm-icon_maximize"></i>
                </a>
            </div>
        </div>
        -->
    
        <a class="layout-header__activity is_active">
            <span class="badge badge_small badge_success">1</span>
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 20 20" xml:space="preserve"><path d="M12.6,3.3c-0.5-0.3-0.9-0.9-0.9-1.5c0,0,0,0,0,0C11.8,0.8,11,0,10,0C9,0,8.2,0.8,8.2,1.8c0,0,0,0,0,0c0,0.6-0.3,1.2-0.9,1.5c-3.9,2.3-1.7,9.8-5.8,11.1L2,16h16l0.4-1.6C14.3,13.1,16.6,5.5,12.6,3.3z M10,1.1c0.4,0,0.7,0.3,0.7,0.7c0,0.4-0.3,0.7-0.7,0.7c-0.4,0-0.7-0.3-0.7-0.7S9.6,1.1,10,1.1z M13,17c0,1.7-1.3,3-3,3c-1.6,0-3-1.3-3-3H13z"></path></svg>
        </a>

        <div class="layout-header__profile profile">
            <a href="" class="profile__user">
                <img src="/images/remove/profile.jpg" width="30" height="30" class="profile__user__image" alt="">
                <span class="profile__user__name">
                    <span class="profile__user__name__middle">Иванов Иван Иванович</span>
                </span>
            </a>
            
            <span class="profile__dropdown">
                <i class="profile__dropdown__icon"></i>
            </span>
        </div>

    </div>
</header>