<template id="tmpl-modal-demo">
    <div class="modal" id="modal-demo">
        <div class="modal__dialog">
            <section class="modal__content">
                <b class="modal__close js-modal-close">Закрыть</b>
                
            </section>
        </div>
    </div>
</template>

<template id="tmpl-modal-service">
    <div class="modal" id="modal-service">
        <div class="modal__dialog">
            <section class="modal__content">
                <b class="modal__close js-modal-close">Закрыть</b>
                
                <header class="modal__header">
                    <h4 class="modal__header__title">Заказать услуги</h4>
                </header>

                <article class="modal__body">

                </article>
            </section>
        </div>
    </div>
</template>

<template id="tmpl-modal-template">
    <div class="modal">
        <div class="modal__scroller j-custom-scroll">
            
            <section class="modal__body">
                <i class="modal__close js-modal-close">Закрыть</i>

                <header class="modal__header">
                    <h4 class="modal__header__title">default header</h4>
                </header>
                
                <article class="modal__body">
                    default body
                </article>

                <footer class="modal__footer">
                    default footer

                    <button class="modal-default-button">OK</button>
                </footer>
            </section>

            <div class="overlay modal__overlay is-animate is-visible">
                <span class="modal__overlay__spinner spinner spinner_center" style="display: none;"></span>
            </div>
            
        </div>
    </div>
</template>