<aside class="sidebar" id="sidebar" itemscope="itemscope" itemtype="http://schema.org/WPSideBar">

    <a href="/cp" class="sidebar__logo logo">
        <svg class="logo__image" role="image">
            <use xlink:href="#lightning"/>
        </svg>
    </a>

    {# {% include 'components/sidebar-helper.twig' %} #}

    {#
    <div class="sidebar__logo">
        <svg class="protect" role="image">
            <use xlink:href="#protect"/>
        </svg>

        <span class="sandwich js-sandwich-menu">
            <span class="sandwich__layer"></span>
        </span>

        <div class="smart-object" style="position: absolute; transform: translate3d(0px, 0px, 0px);">
            <div class="smart-object" style="position: absolute; transform: translate3d(0px, 0px, 0px); background-color: rgb(255, 255, 255); width: 40px; height: 20px; cursor: pointer; pointer-events: all; z-index: 3; opacity: 0;"></div>
            <div class="smart-object" style="position: absolute; transform: translate3d(0px, 0px, 0px); width: 40px; height: 1px; background-color: rgb(255, 255, 255);"></div>
            <div class="smart-object" style="position: absolute; transform: translate3d(0px, 5px, 0px); width: 40px; height: 1px; background-color: rgb(255, 255, 255);"></div>
            <div class="smart-object" style="position: absolute; transform: translate3d(0px, 10px, 0px); width: 40px; height: 1px; background-color: rgb(255, 255, 255);"></div>
        </div>
    </div>
    #}
    
    <div class="sidebar__content">
        
        <nav class="menu" role="navigation">
            
            {#
            <a href="/cp/site" class="menu__item _selected1" data-entity="page">
                <span class="menu__item__notification badge badge_success">4</span>
                <span class="menu__item__icon">
                    <svg role="image">
                        <use xlink:href="#pages"/>
                    </svg>
                </span>
                <span class="menu__item__title">
                    Страницы
                </span>
                <span class="menu__item__spinner spinner-icon"></span>
            </a>
            #}

        </nav>

        <a href="/{{ ADMIN_DIR }}/dashboard" class="sidebar__ico">
            <svg role="image">
                <use xlink:href="#dashboard"/>
            </svg>
        </a>

        <a href="/cp/site/pages" class="sidebar__ico">
            <svg role="image">
                <use xlink:href="#pages"/>
            </svg>
        </a>
        
        <a href="/cp/site/menu" class="sidebar__ico">
            <svg role="image">
                <use xlink:href="#sitemap"/>
            </svg>
        </a>
        
        <a href="/cp" class="sidebar__ico">
            <svg role="image">
                <use xlink:href="#protect"/>
            </svg>
        </a>

        <a href="/{{ ADMIN_DIR }}/tasks" class="sidebar__ico">
            <svg role="image">
                <use xlink:href="#todo"/>
            </svg>
        </a>

    </div>

    <div class="sidebar__bottom">
        <a href="/{{ ADMIN_DIR }}/settings" class="sidebar__ico sidebar__settings">
            <svg role="image">
                <use xlink:href="#settings"/>
            </svg>
        </a>
    </div>
    
</aside>