<aside class="sidebar">
    
    <a href="/markup/site.html" class="sidebar__logo logo">
        <svg class="logo__image" role="image">
            <use xlink:href="#lightning"/>
        </svg>
    </a>

    <div class="sidebar__container j-sidebar-content">

        <nav class="menu" role="navigation">
            <a href="/markup/@@if (typeof url !== 'undefined'){@@url}" class="menu__item@@if (typeof selected !== 'undefined' && selected === true){ _selected}" data-entity="page">
                @@if (typeof count !== 'undefined'){
                    <span class="menu__item__notification badge badge_success">@@count</span>
                }
                @@if (typeof icon !== 'undefined'){
                <span class="menu__item__icon">
                    <svg role="image">
                        <use xlink:href="#@@icon"/>
                    </svg>
                </span>
                }
                @@if (typeof title !== 'undefined'){
                <span class="menu__item__title">
                    @@title
                </span>
                }
                <span class="menu__item__spinner spinner-icon"></span>
            </a>
            
        @@if (page == 'site') {
            
            @@include('./_menu-item.html', {
                "id": "page",
                "url": "site/page.html",
                "icon": "pages",
                "title": "Страницы",
                "selected": true,
                "count": 4
            })
            
            @@include('./_menu-item.html', {
                "id": "menu",
                "url": "site/menu.html",
                "icon": "menu",
                "title": "Меню",
                "selected": false,
                "count": 3
            })
            
            @@include('./_menu-item.html', {
                "id": "form",
                "url": "site/form.html",
                "icon": "form",
                "title": "Формы",
                "selected": false
            })
            
            @@include('./_menu-item.html', {
                "id": "module",
                "url": "site/module.html",
                "icon": "module",
                "title": "Модули",
                "selected": false
            })
            
            @@include('./_menu-item.html', {
                "id": "messages",
                "url": "site/messages.html",
                "icon": "messages",
                "title": "Сообщения",
                "selected": false
            })

            @@include('./_menu-item.html', {
                "id": "widget",
                "url": "site/widget.html",
                "icon": "widget",
                "title": "Виджеты",
                "selected": false
            })

            @@include('./_menu-item.html', {
                "id": "storage",
                "url": "site/storage.html",
                "icon": "storage",
                "title": "Хранилище",
                "selected": false
            })

            @@include('./_menu-item.html', {
                "id": "settings",
                "url": "site/settings.html",
                "icon": "settings",
                "title": "Настройки",
                "selected": false
            })
        }

        @@if (page == 'system') {

            @@include('./_menu-item.html', {
                "id": "extensions",
                "url": "system/extensions.html",
                "icon": "extensions",
                "title": "Расширения",
                "selected": false
            })
            
            @@include('./_menu-item.html', {
                "id": "themes",
                "url": "system/themes.html",
                "icon": "themes",
                "title": "Темы",
                "selected": false
            })

            @@include('./_menu-item.html', {
                "id": "update",
                "url": "system/update.html",
                "icon": "update",
                "title": "Обновления",
                "selected": false
            })

            @@include('./_menu-item.html', {
                "id": "info",
                "url": "system/info.html",
                "icon": "info",
                "title": "Информация",
                "selected": false
            })

            @@include('./_menu-item.html', {
                "id": "mailers",
                "url": "system/mailers.html",
                "icon": "mailers",
                "title": "Почта",
                "selected": false
            })

            @@include('./_menu-item.html', {
                "id": "settings",
                "url": "system/settings.html",
                "icon": "settings",
                "title": "Настройки",
                "selected": false
            })
            
        }

        @@if (page == 'seo') {
            
            @@include('./_menu-item.html', {
                "id": "analytics",
                "url": "seo/analytics.html",
                "icon": "analytics",
                "title": "Статистика",
                "selected": false
            })
            
            @@include('./_menu-item.html', {
                "id": "page-weight",
                "url": "seo/page-weight.html",
                "icon": "page-weight",
                "title": "Вес страниц",
                "selected": false
            })
            
            @@include('./_menu-item.html', {
                "id": "meta",
                "url": "seo/meta.html",
                "icon": "meta",
                "title": "МЕТА данные",
                "selected": false
            })
            
            @@include('./_menu-item.html', {
                "id": "human-friendly-url",
                "url": "seo/human-friendly-url.html",
                "icon": "human-friendly-url",
                "title": "ЧПУ",
                "selected": false
            })
            
            @@include('./_menu-item.html', {
                "id": "social-sharing",
                "url": "seo/social-sharing.html",
                "icon": "social-sharing",
                "title": "Социальные сети",
                "selected": false
            })
            
            @@include('./_menu-item.html', {
                "id": "sitemap",
                "url": "seo/sitemap.html",
                "icon": "sitemap",
                "title": "XML Sitemap",
                "selected": false
            })

            @@include('./_menu-item.html', {
                "id": "robots",
                "url": "seo/robots.html",
                "icon": "robots",
                "title": "Robots.txt",
                "selected": false
            })

            @@include('./_menu-item.html', {
                "id": "counters",
                "url": "seo/counters.html",
                "icon": "counters",
                "title": "Счетчики",
                "selected": false
            })

            @@include('./_menu-item.html', {
                "id": "settings",
                "url": "seo/settings.html",
                "icon": "settings",
                "title": "Настройки",
                "selected": false
            })
        }

        @@if (page == 'shop') {

            @@include('./_menu-item.html', {
                "id": "orders",
                "url": "shop/orders.html",
                "icon": "orders",
                "title": "Заказы",
                "selected": false
            })
            
            @@include('./_menu-item.html', {
                "id": "catalog",
                "url": "shop/catalog.html",
                "icon": "catalog",
                "title": "Товары",
                "selected": false
            })
            
            @@include('./_menu-item.html', {
                "id": "customers",
                "url": "shop/customers.html",
                "icon": "customers",
                "title": "Покупатели",
                "selected": false
            })
            
            @@include('./_menu-item.html', {
                "id": "affiliate",
                "url": "shop/affiliate.html",
                "icon": "affiliate",
                "title": "Партнерская программа",
                "selected": false
            })
            
            @@include('./_menu-item.html', {
                "id": "discounts",
                "url": "shop/discounts.html",
                "icon": "discounts",
                "title": "Скидочные купоны",
                "selected": false
            })
            
            @@include('./_menu-item.html', {
                "id": "exchange",
                "url": "shop/exchange.html",
                "icon": "exchange",
                "title": "Импорт/Экспорт",
                "selected": false
            })
            
            @@include('./_menu-item.html', {
                "id": "taxes",
                "url": "shop/taxes.html",
                "icon": "taxes",
                "title": "Налоги",
                "selected": false
            })

            @@include('./_menu-item.html', {
                "id": "settings",
                "url": "shop/settings.html",
                "icon": "settings",
                "title": "Настройки",
                "selected": false
            })
        }

        @@if (page == 'users') {

            @@include('./_menu-item.html', {
                "id": "list",
                "url": "users/list.html",
                "icon": "user-list",
                "title": "Список",
                "selected": false
            })
            
            @@include('./_menu-item.html', {
                "id": "permissions",
                "url": "users/permissions.html",
                "icon": "permissions",
                "title": "Разрешения",
                "selected": false
            })

            @@include('./_menu-item.html', {
                "id": "roles",
                "url": "users/roles.html",
                "icon": "roles",
                "title": "Роли",
                "selected": false
            })

            @@include('./_menu-item.html', {
                "id": "settings",
                "url": "users/settings.html",
                "icon": "settings",
                "title": "Настройки",
                "selected": false
            })
        }

        @@if (page == 'marketing') {
            
            <!-- ФайлыФайлы  TasksЗадачи  Shop-Script 7Магазин  MailerРассылки  HubХаб BlogБлог  СайтСайт  PhotosФото  HelpdeskПоддержка  ContactsКонтакты -->

            @@include('./_menu-item.html', {
                "id": "dashboard",
                "url": "marketing/dashboard.html",
                "icon": "dashboard",
                "title": "Рабочий стол",
                "selected": false
            })
            
            @@include('./_menu-item.html', {
                "id": "invoices",
                "url": "marketing/invoices.html",
                "icon": "invoices",
                "title": "Счета",
                "selected": false
            })
            
            @@include('./_menu-item.html', {
                "id": "leads",
                "url": "marketing/leads.html",
                "icon": "leads",
                "title": "Сделки",
                "selected": false
            })
            
            @@include('./_menu-item.html', {
                "id": "contacts",
                "url": "marketing/contacts.html",
                "icon": "contacts",
                "title": "Контакты",
                "selected": false
            })
            
            @@include('./_menu-item.html', {
                "id": "mail",
                "url": "marketing/mail.html",
                "icon": "mail",
                "title": "Почта",
                "selected": false
            })
            
            @@include('./_menu-item.html', {
                "id": "todo",
                "url": "marketing/todo.html",
                "icon": "todo",
                "title": "Задачи",
                "selected": false
            })
            
            @@include('./_menu-item.html', {
                "id": "stats",
                "url": "marketing/stats.html",
                "icon": "stats",
                "title": "Аналитика",
                "selected": false
            })

            @@include('./_menu-item.html', {
                "id": "settings",
                "url": "marketing/settings.html",
                "icon": "settings",
                "title": "Настройки",
                "selected": false
            })
        }
        </nav>

    </div>
</aside>