<aside class="sidebar">
    
    <a href="/cp" class="sidebar__logo logo">
        <svg class="logo__image" role="image">
            <use xlink:href="#lightning"/>
        </svg>
    </a>

    <div class="sidebar__container j-sidebar-content">

        <nav class="menu" role="navigation">

            <a href="/cp/site" class="menu__item _selected1" data-entity="page">
                <span class="menu__item__notification badge badge_success">4</span>
                <span class="menu__item__icon">
                    <svg role="image">
                        <use xlink:href="#pages"/>
                    </svg>
                </span>
                <span class="menu__item__title">
                    Страницы
                </span>
                <span class="menu__item__spinner spinner-icon"></span>
            </a>

        </nav>

    </div>
</aside>