// Animation
$a-time:                        .3s !default;
$a-micro-time:                  .15s !default;
$a-animate-time:                .25s !default;
$a-long-time:                   .7s !default;

$c-lighten-percent:             10% !default;

// Fonts
$font-base:                     10px !default;
$font-family:                   IstokWeb, 'Istok Web', Roboto, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif !default;
$font-forms:                    Arial, Helvetica, sans-serif !default;

// Colors
$c-text:                        #121212 !default;

$c-placeholder-color:           #000 !default;
$c-placeholder-opacity:         .5 !default;

$c-sandwich-overlay:            #000 !default;
$c-sandwich-background:         #2b65b6 !default;
$c-sandwich-background-active:  #fff !default;

$c-jordy-blue:                  #7baaf7 !default;
$c-maya-blue:                   #76B5FF !default;
$c-hawkes-blue:                 #d4e4f8 !default;
$c-ultramarine-blue:            #5477F7 !default;
$c-electric-indigo:             #6100EA !default;

// CMS
$c-heather:                     #9dbbd2 !default;
$c-catalina-blue:               #2c405a !default;
$c-astronaut:                   #3f536e !default;
$c-polo-blue:                   #8dabc4 !default;
$c-light-steel-blue:            #a8c6df !default;
$c-pattens-blue:                #c5d9e8 !default;
$c-pattens-blue-light:          #dde7ea !default;
$c-alice-blue:                  #ecf5fd !default;
$c-alice-blue-divider:          #fafbfc !default;
$c-dodger-blue:                 #0093ee !default;
$c-lime-green:                  #4ece3d !default;
$c-torch-red:                   #ff151f !default;
$c-navy-blue:                   #0079c4 !default;
$c-lime-green-active:           #40b630 !default;
$c-medium-purple:               #ab7df6 !default;
$c-light-sea-green:             #26b5bd !default;
$c-golden-poppy:                #f6c109 !default;
$c-christi:                     #71c21e !default;
$c-pumpkin:                     #f86519 !default;
$c-denim:                       #0c63b9 !default;
$c-denim-divider:               #3372b1 !default;
$c-maya-blue:                   #6ab8ff !default;
$c-tower-grey:                  #9c9e9d !default;
$c-very-light-grey:             #cfcfcf !default;

$c-light-slate-blue:            #7D6DFB !default;
$c-sunglow:                     #FEC541 !default;
$c-shamrock:                    #36D484 !default;
$c-wild-watermelon:             #FC5A7D !default;
$c-crusta:                      #FD9252 !default;
$c-mint-green:                  #ACFFAC !default;

$c-silver-tree:                 #57BB8A !default;
$c-geraldine:                   #e67c73 !default;
$c-kournikova:                  #ffd530 !default;
$c-night-rider:                 #323232 !default;
$c-royal-blue:                  #3367d6 !default;
$c-salem:                       #0b8043 !default;
$c-rersian-red:                 #c53929 !default;
$c-persimmon:                   #ea6100 !default;
$c-saffron:                     #F8C52C !default;
$c-raven:                       #656d79 !default;

$c-header:                      $c-denim !default;
$c-sidebar:                     $c-catalina-blue !default;
$c-body:                        $c-catalina-blue !default;
$c-wrapper:                     $c-alice-blue !default;
$c-icon-active:                 $c-saffron !default;

$c-border:                      $c-pattens-blue-light !default;

$c-select-color:                $c-denim !default;
$c-select-background:           $c-alice-blue !default;

$c-white:                       #fff !default;
$c-gray:                        #cdcdcd !default;
$c-black:                       #000 !default;
$c-lime:                        $c-mint-green !default;
$c-orange:                      $c-crusta !default;
$c-green:                       $c-shamrock !default;
$c-pink:                        $c-wild-watermelon !default;
$c-whisper:                     #E7E7E7 !default;
$c-lavender:                    #f0f0f2 !default;
$c-very-light-grey:             #c8c8c8 !default;
$c-pink-swan:                   #B4B4B4 !default;

// Alerts

// Dark
$c-background:                  $c-night-rider !default;
$c-primary:                     $c-white !default;
$c-secondary:                   rgba(255,255,255,.54) !default;
$c-disabled:                    rgba(255,255,255,.26) !default;
$c-link:                        $c-jordy-blue !default;
$c-positive:                    $c-silver-tree !default;
$c-negative:                    $c-geraldine !default;
$c-warning:                     $c-kournikova !default;

// Light
$c-primary:                     $c-black !default;
$c-secondary:                   rgba(0,0,0,.54) !default;
$c-disabled:                    rgba(0,0,0,.26) !default;
$c-link:                        $c-royal-blue !default;
$c-positive:                    $c-salem !default;
$c-negative:                    $c-rersian-red !default;
$c-warning:                     $c-persimmon !default;

// SIZE
$layout-width:                  1260px !default;
$layout-margin:                 10px !default;

$header-height:                 60px !default;

$content-margin:                20px !default;

$sidebar-width-close:           60px !default;
$sidebar-width-open:            182px !default;
$sidebar-helper-width:          162px !default;

$sidebar-width-diff:            $sidebar-width-open - $sidebar-width-close !default;

