// Animation
$a-time:                        .3s;
$a-micro-time:                  .15s;
$a-animate-time:                .25s;
$a-long-time:                   .7s;

$c-lighten-percent:             10%;

// Fonts
$font-base:                     10px;
$font-family:                   IstokWeb, 'Istok Web', Roboto, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
$font-forms:                    Arial, Helvetica, sans-serif;

// Colors
$c-text:                        #121212;

$c-placeholder-color:           #000;
$c-placeholder-opacity:         .5;

$c-sandwich-overlay:            #000;
$c-sandwich-background:         #2b65b6;
$c-sandwich-background-active:  #fff;

$c-lime:                        lime;
$c-white:                       #fff;
$c-gray:                        #cdcdcd;
$c-black:                       #000;
$c-green:                       #00f;
$c-whisper:                     #E7E7E7;
$c-lavender:                    #f0f0f2;
$c-very-light-grey:             #c8c8c8;
$c-pink-swan:                   #B4B4B4;

$c-jordy-blue:                  #7baaf7;
$c-maya-blue:                   #76B5FF;
$c-hawkes-blue:                 #d4e4f8;
$c-ultramarine-blue:            #5477F7;
$c-electric-indigo:             #6100EA;

// CMS
$c-heather:                     #9dbbd2;
$c-catalina-blue:               #2c405a;
$c-astronaut:                   #3f536e;
$c-polo-blue:                   #8dabc4;
$c-light-steel-blue:            #a8c6df;
$c-pattens-blue:                #c5d9e8;
$c-pattens-blue-light:          #dde7ea;
$c-alice-blue:                  #ecf5fd;
$c-alice-blue-divider:          #fafbfc;
$c-dodger-blue:                 #0093ee;
$c-lime-green:                  #4ece3d;
$c-torch-red:                   #ff151f;
$c-navy-blue:                   #0079c4;
$c-lime-green-active:           #40b630;
$c-medium-purple:               #ab7df6;
$c-light-sea-green:             #26b5bd;
$c-golden-poppy:                #f6c109;
$c-christi:                     #71c21e;
$c-pumpkin:                     #f86519;
$c-denim:                       #0c63b9;
$c-denim-divider:               #3372b1;
$c-maya-blue:                   #6ab8ff;
$c-tower-grey:                  #9c9e9d;
$c-very-light-grey:             #cfcfcf;

$c-silver-tree:                 #57BB8A;
$c-geraldine:                   #e67c73;
$c-kournikova:                  #ffd530;
$c-night-rider:                 #323232;
$c-royal-blue:                  #3367d6;
$c-salem:                       #0b8043;
$c-rersian-red:                 #c53929;
$c-persimmon:                   #ea6100;
$c-saffron:                     #F8C52C;
$c-raven:                       #656d79;

$c-header:                      $c-denim !default;
$c-sidebar:                     $c-catalina-blue !default;
$c-body:                        $c-catalina-blue !default;
$c-wrapper:                     $c-alice-blue !default;
$c-icon-active:                 $c-saffron !default;

$c-border:                      #dde7ea;

$c-select-color:                $c-denim;
$c-select-background:           $c-alice-blue;

// Alerts

// Dark
$c-background:                  $c-night-rider;
$c-primary:                     $c-white;
$c-secondary:                   rgba(255,255,255,.54);
$c-disabled:                    rgba(255,255,255,.26);
$c-link:                        $c-jordy-blue;
$c-positive:                    $c-silver-tree;
$c-negative:                    $c-geraldine;
$c-warning:                     $c-kournikova;

// Light
$c-primary:                     $c-black;
$c-secondary:                   rgba(0,0,0,.54);
$c-disabled:                    rgba(0,0,0,.26);
$c-link:                        $c-royal-blue;
$c-positive:                    $c-salem;
$c-negative:                    $c-rersian-red;
$c-warning:                     $c-persimmon;

// SIZE
$layout-width:                  1260px;
$layout-margin:                 10px;

$header-height:                 52px;

$content-margin:                20px;

$sidebar-width-close:           52px;
$sidebar-width-open:            182px;
$sidebar-helper-width:          162px;

$sidebar-width-diff:            $sidebar-width-open - $sidebar-width-close;

