.header {
    clear: both;
    width: 100%;
    position: relative;
    height: $header-height;
    background-color: $c-header;
    transition: transform $a-micro-time;
    
    &__cache {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 100;
        text-align: center;
        line-height: $header-height;
        width: $header-height;
        height: $header-height;
        border-left: 1px solid $c-denim-divider;

        .clear-cache,
        .clear-complete {
            max-width: 24px;
            max-height: 24px;
            display: inline-block;
            vertical-align: middle;
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -12px;
            margin-top: -12px;
            transition: opacity $a-time;
        }

        .clear-cache {
            color: $c-white;
        }

        .clear-complete {
            color: $c-green;
            opacity: 0;
        }

        &.in-progress {
            .clear-cache {
                transform: translateZ(0);
                animation: pulse1 1.5s infinite linear;
            }
        }
        
        &.is-complete {
            .clear-cache {
                opacity: 0;
            }

            .clear-complete {
                opacity: 1;
            }
        }
    }
}

@media only screen and (max-width: 1280px) {}
@media only screen and (max-width: 1140px) {}
@media only screen and (max-width: 1024px) {}
@media only screen and (max-width: 960px) {}
@media only screen and (max-width: 768px) {}
@media only screen and (max-width: 568px) {}
@media only screen and (max-width: 480px) {}
@media only screen and (max-width: 375px) {}
@media only screen and (max-width: 320px) {}