.header {
    clear: both;
    position: relative;
    height: $header-height;
    background-color: $c-header;

    &__logo {
        position: absolute;
        left: 0;
        top: 0;
        color: #fff;
        width: $header-height;
        height: $header-height;
        text-align: center;
        line-height: $header-height;
        border-right: 1px solid $c-denim-divider;

        .protect {
            max-width: 30px;
            max-height: 30px;
            display: inline-block;
            vertical-align: middle;
        }
    }


    &__cache {
        position: absolute;
        right: 0;
        top: 0;
        color: #fff;
        text-align: center;
        line-height: $header-height;
        width: $header-height;
        height: $header-height;
        border-left: 1px solid $c-denim-divider;

        .clear-cache {
            max-width: 30px;
            max-height: 30px;
            display: inline-block;
            vertical-align: middle;
        }
    }
}

@media only screen and (max-width: 1280px) {}
@media only screen and (max-width: 1140px) {}
@media only screen and (max-width: 1024px) {}
@media only screen and (max-width: 960px) {}
@media only screen and (max-width: 768px) {}
@media only screen and (max-width: 568px) {}
@media only screen and (max-width: 480px) {}
@media only screen and (max-width: 375px) {}
@media only screen and (max-width: 320px) {}