.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    position: relative;
    z-index: 1;
    padding-left: $sidebar-width-close;
    background-color: $c-wrapper;
    backface-visibility: hidden;
    transition: transform $a-animate-time;
    transform-style: flat;
    
    &.is-open {
        transform: translate3d($sidebar-width-diff, 0, 0);
    }

    &__row {
        clear: both;
    }

    &__helper {
        width: 300px;
        height: 100%;
        float: left;
        position: relative;
        z-index: 1;
        min-height: 1500px;
        margin-right: -300px;
        background-color: $c-white;
        border-right: 1px solid $c-pattens-blue-light;
    }

    &__content {
        clear: both;
        padding: $content-margin;

        &.loading {
            border: 1px solid red;
        }
    }

    &__pusher {
        width: 100%;
    }

    &__helper + &__pusher {
        float: left;
        padding-left: 300px;
    }
}



@media only screen and (max-width: 1280px) {}
@media only screen and (max-width: 1140px) {}
@media only screen and (max-width: 1024px) {}
@media only screen and (max-width: 960px) {}
@media only screen and (max-width: 768px) {}
@media only screen and (max-width: 568px) {}
@media only screen and (max-width: 480px) {}
@media only screen and (max-width: 375px) {}
@media only screen and (max-width: 320px) {}
